@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

/* dark/light theme color settings */

:root {
  --backgroundColor: #e2e7f2;
  --textColor: #3f4145;
  --svgColor: #3f4145;
  --moonColor: #3f4145;
  --menuSvg: #3f4145;
  --previousNextButtonsSvg: #3f4145;
  --pfpSvg: #b161f2;
  --headerLineColor: #80848c;
  --menuColor: rgba(214, 216, 225, 0.6);
  --footerTextColor: #4c4e53;
  --footerLineColor: #4c4e53;
  --articleDecoratorLine: #7f828a;
  --hoverColor: #c8cad2;
  --activeColor: #d6d8e1;
  --dateColor: #575a5e;
  --headerColor: rgba(214, 216, 225, 0.6)
}

.dark {
  --backgroundColor: #24272c;
  --textColor: #9AA2B2;
  --svgColor: #9AA2B2;
  --moonColor: #737cff;
  --menuSvg: #9AA2B2;
  --previousNextButtonsSvg: #9AA2B2;
  --pfpSvg: #5adea5;
  --headerLineColor: #43464b;
  --menuColor: rgba(30, 33, 39, 0.6);
  --footerTextColor: #666B74;
  --footerLineColor: #666B74;
  --articleDecoratorLine: #666B74;
  --hoverColor: #666B74;
  --activeColor: #9AA2B2;
  --dateColor: #666B74;
  --headerColor: rgba(30, 33, 39, 0.6);
}

/* font settings */

:root {
  --font: 'Roboto Flex', sans-serif;
  --paragraphFontWeight: 300;
  --fontSizeHeader: 2rem;
  --fontSizeFooter: 0.7rem;
  --fontSizeParagraph: 1.13rem;
  --fontSizeH2: 1.5rem;
  --fontSizeH3: 1.3rem;
  --fontSizeName: 0.9rem;
  --fontSizeDate: 0.7rem;
  --fontSizeMenu: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--backgroundColor);
}

/* Set box sizing to border box for better element sizing control */

html {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
}

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

/* Create a container that holds all web page elements and displays them
   vertically using flex column direction */

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
}

/*  Header

/* header with shorter line */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 1s;
  border-bottom: 0.04rem solid var(--headerLineColor);
  position: fixed;
  width: 100%;
  height: 3.36rem;
  background-color: var(--headerColor);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.headerText {
  transition: color 1s;
  font-family: var(--font);
  font-weight: 500;
  font-size: var(--fontSizeHeader);
  color: var(--textColor);
  justify-self: center;
  align-self: center;
}

/* panel with navigation buttons used to go to next/previous blog post,
   positioned between the navigation bar and and blog post container */

#navigationPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3.5rem;
}

#previousButton {
  margin-right: 3rem;
}

#nextButton {
  margin-left: 3rem;
}

.previousNextButtons {
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;

}

.previousNextButtonsPath {
  fill: var(--previousNextButtonsSvg);
  transition: fill 1s;
}

.previousNextButtons:hover {
  background: var(--hoverColor);
}

.previousNextButtons:active {
  background: var(--activeColor);
}

/* Footer

/* responsive footer with short line that always stays at the bottom
   of the page using margin-top: auto */

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
}

.footer::after {
  background-color: var(--footerLineColor);
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 95%;
  margin-bottom: 2.765rem;
  transition: background-color 1s;
}

#link {
  color: var(--footerTextColor);
  transition: color 1s;
  font-family: var(--font);
  font-weight: 500;
  font-size: var(--fontSizeFooter);
  text-decoration: none;
  margin-bottom: 0.5rem
}

/* container for blog articles */

.articleContainer {
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-family: var(--font);
  color: var(--textColor);
  width: 42rem;
  transition: color 2s;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-self: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* article elements formatting */

h2 {
  font-weight: 500;
  margin-top: 2rem;
  font-size: var(--fontSizeH2);
}

h3 {
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  font-size: var(--fontSizeH3);
}

p {
  font-weight: var(--paragraphFontWeight);
  margin-top: 1rem;
  font-size: var(--fontSizeParagraph);
}

/* add an article decoration line after paragraphs */

.line {
  align-self: center;
  border-bottom: 1px solid var(--articleDecoratorLine);
  width: 80%;
  margin-top: 1.7rem;
}

/* html element with author's info: pfp, name and article   
   publishing date */

.authorsInfo {
  display: flex;
  flex-direction: row;
}

#path354 {
  fill: var(--pfpSvg);
  transition: fill 1s;
  fill-opacity:1;
}

.nameDate {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content:space-around
}

.authorsName {
  font-size: var(--fontSizeName);
}

.publishingDate {
  font-size: var(--fontSizeDate);
  color: var(--dateColor);
  transition: color 1s;
}

/* svg header menu button */

#menuButton {
 position: absolute;
 right: 20%;
 margin-top: 0.2rem;
}

#menuButtonSvg {
  border-radius: 50%;
  transition: 0.1s;
}

#menuButtonSvg:hover {
  background-color: var(--hoverColor);
}

#menuButtonSvg:active {
  background-color: var(--activeColor);
}

#menuButtonSvgPath {
  fill: var(--svgColor);
  transition: fill 1s;
}

/* Scroll to the top button */

/* Back to the top button that appears when you reach the bottom of the page */

#backToTheTopButton {
  position: fixed;
  z-index: 100;
  opacity: 0;
  bottom: 3.2rem; 
  right: 19.7%; 
  transition: all 0.2s ease;
}

#backToTheTopSvg {
  transform: rotate(-90deg);
  border-radius: 50%;
  transition: 0.1s;
}

#backToTheTopButtonPath {
  fill: var(--svgColor);
  transition: fill 1s;
}

#backToTheTopSvg:hover {
  background-color: var(--hoverColor);
}

#backToTheTopSvg:active {
  background-color: var(--activeColor);
}

/* drop down menu */

.dropDownMenu {
  margin-top: 3.36rem;
  background: var(--menuColor);
  transition: background-color 1s;
  height: 100vh;
  width: 17.5rem;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
} 

/* Dark/light mode toggle button */

/* Use opacity and translate/transform to create button toggle effect */

#darkModeButtonContainer {
  background: none;
  border: none;
  margin-left: 44%;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

#sunButtonSvg {
  fill: var(--svgColor);
  stroke: var(--svgColor);
  transition: fill 1s;
  stroke-width:0.25;
  pointer-events: none;
}

#moonButtonSvg {
  fill: var(--moonColor);
  stroke: var(--moonColor);
  transition: fill 1s;
  stroke-width:0.264523;
  pointer-events: none;
}

.sunLogo {
  position: absolute;
  opacity: 1;
}

.moonLogo {
  position: absolute;
  opacity: 0;
}

.sunLogoAnimate {
  opacity: 0;
}

.moonLogoAnimate {
  opacity: 1;
}


.sunLogoDark {
  opacity: 0;
}

.moonLogoDark {
  opacity: 1;
}

.sunLogoAnimateDark {
  opacity: 1;
}

.moonLogoAnimateDark {
  opacity: 0;
}

.menuButton {
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  height: 2rem;
  color: var(--textColor);
  margin-top: 0.5rem;
  font-family: var(--font);
  font-size: var(--fontSizeMenu);
  padding-left: 3.7rem;
}

.menuButton:hover {
  background: var(--hoverColor);
}

.menuButton:active {
  background: var(--activeColor);
}

#infoButtonEmoji {
  font-size: 1.3rem;
  margin-right: 1.5rem;
}

#allArticlesEmoji {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

#linkEmoji {
  font-size: 1.3rem;
  margin-right: 1.5rem;
}

/* Search input form */


#searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5rem;
  margin-left: 3.53rem;
}

#searchBar {
  border: 0;
  outline: none;
  color: var(--textColor);
  font-size: var(--fontSizeMenu);
  border-bottom: 0.06rem solid var(--footerLineColor);
  width: 8rem;
  margin-bottom: 0.3rem;
  padding-left: 0.4rem;
  margin-left: 8%;
  background: none;
}

::placeholder {
  color: var(--textColor);
}

#searchButton {
  font-size: 1.3rem;
  padding: 0.1rem;
  padding-left: 0.23rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

#searchButton:hover {
  background: var(--hoverColor);
}

#searchButton:active {
  background: var(--activeColor);
}

/* media queries for small browser windows */

/* Move the menu on top of the article using flex reverse property when browser
 width decreases, adjust menu layout for mobile browsers */

@media (max-width: 710px) {
  #menuButton {
    right: 5%;
  }

  #backToTheTopButton {
    right: 5%;
  }

  .menu-ArticleContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .dropDownMenu {
    height: 16rem;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
  }

  .articleContainer {
    width: 90%;
  }

  #allArticlesButton {
    justify-content: center;
    padding-right: 5.6rem;
  }

  #infoButton {
    justify-content: center;
    padding-right: 3.5rem;
  }


  #externalLinkButton {
    justify-content: center;
    padding-right: 8.3rem;
  }

  #darkModeButtonContainer {
    margin-left: 0rem;
    margin-right: 2rem;
    align-self: center;
    margin-bottom: 1.5rem;
    margin-top: 1.6rem;
  }

  #searchInput {
    margin-left: 4rem;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  #searchBar {
    margin-left: 1rem;
    margin-right: 3rem;
  }

}

/* media queries for desktop browsers */

@media (min-width: 900px) {
  #darkModeButtonContainer {
    margin-right: 1.5rem;
  }
}

@media (min-width: 1300px) {
  .dropDownMenu {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .dropDownMenu {
    width: 35%;

  }
}

/* no search form decoration line for ios because safari is 
   the new internet explorer and nothing is rendered in it properly */

@media not all and (min-resolution:.001dpcm) { 
    #searchBar {
      border: 0;
      border-bottom: 0;
    }
}