* {
  margin: 0;
  padding: 0;
  background: #e5eaf1;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
}

/* header with shorter line */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header::after {
  background-color: #3f4145;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 95%;
  margin-top: 5.5rem;
}

.headerText {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 2.5rem;
  color: #3f4145;
  margin-top: 0.8rem;
  justify-self: center;
  align-self: center;
}

.headerMenu {
  position:absolute;
  right: 5%;
  margin-top: 1.4rem;
  border-radius: 100%;
}

/* responsive footer that always stays at the bottom of the page using 
margin-top: auto */

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::after {
  background-color: #4c4e53;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 95%;
  margin-bottom: 2.5rem;
}

#link {
  color: #4c4e53;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size: 0.844rem;
  text-decoration: none;
  margin-bottom: 0.5rem
}
/* html element that dynamically displays blog article content pulled from the
database */

.articleContainer {
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-family: 'Inconsolata', monospace;
  color: #3f4145;
  width: 40rem;
}

/* article elements formatting */

h2 {
  margin-top: 2.7rem;
  font-size: 2rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

/* add a short fine line after article sections */

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.line::after {
  background-color: #7f828a;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 35rem;
}

/* html element with author's info: pfp, name and article   
article publishing date, attached to the top of the article*/

.authorsInfo {
  display: flex;
  flex-direction: row;
}

.authorsPfp {
  border-radius: 1.9rem;
}

.nameDate {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content:space-around
}

.authorsName {
  font-size: 1rem;
}

.publishingDate {
  font-size: 0.9rem;
  color: #575a5e
}

/* media queries for small browsers */

@media (max-width: 710px) {

  .articleContainer {
    width: 90%;
  }

  .line::after {
    width: 80%;
  }

}

/* adjust line margins for safari */

@media not all and (min-resolution:.001dpcm) { 
  .line {
    margin-top: 2rem;
    margin-bottom: 3.3rem;
  }
}

/* svg header menu button animation */

#headerMenu {
  cursor: default;
  transform: rotate(0deg);
  user-select: none;
  pointer-events: none;
  border-radius: 100%;
  background: transparent;
}

#svgContainerMenu {
  border: 0;
  background: transparent;
}

/* drop down menu */

.dropDownMenu {
  position: absolute;
  top: calc(100% + 1.2rem);
  right: -40%;
  background: #e5eaf1;
  width: 18rem;
  height: 25rem;
  display: none;
  border-radius: 2%;
  box-shadow: 0.3px 0.3px 6px rgba(0,0,0,0.2);
  opacity: 93%;
  padding: 2rem 1rem;
  
}

/* Back to the top button that appears when you reach the bottom of the page */

.backToTheTopButton {
  position: fixed;
  z-index: 100;
  opacity: 1;
  bottom: 9.5rem; 
  right: 5%; 
  transform: translateY(100px);
  transition: all .5s ease;
  border: 0;
  background-image: none;
  background: transparent;
}

.showButton {
  opacity: 1;
  transform: translateY(0)
}

#toTheTop {
  background-color: transparent;
  transform: rotate(-90deg);
}
